name: build

on:
  push: 
    branches: 
      - main

jobs:
  build:
    runs-on: windows-2019
    env:
      VS_PATH: C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\
      MSBUILD_PATH: C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\

    steps:
      - uses: actions/checkout@v2

      - name: Build (Release)
        shell: cmd
        run: '"%MSBUILD_PATH%\MSBuild.exe" ngrok-helper/ngrok-helper.vcxproj /p:Platform=Win32 /p:Configuration=Release'
      
      - name: Upload artifact (dist)
        uses: actions/upload-artifact@v1
        with:
          name: ngrok-helper
          path: ngrok-helper/Release/ngrok-helper.exe
          
      - name: Upload artifact (dev)
        uses: actions/upload-artifact@v1
        with:
          name: ngrok-helper-dev
          path: ngrok-helper/Release/ngrok-helper.exe
